/* Deck.css */

/* Style général pour les cartes */
.card-container {
    position: fixed;
    transform: translateX(-50%);  /* Centrage horizontal */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Position pour la carte en haut de l'écran */
.card-top {
    top: 0;
    left: 50%;  /* Centré horizontalement */
}

/* Position pour la carte en bas de l'écran */
.card-bottom {
    bottom: 0;
    left: 50%;  /* Centré horizontalement */
}

/* Cibler le composant ReactFlipCard pour forcer la taille des cartes */
.react-flip-card {
    width: 40px !important;   /* Taille réduite de la carte */
    height: 60px !important;   /* Taille réduite de la carte */
}

/* Cibler le contenu de la carte */
.react-flip-card-front, .react-flip-card-back {
    width: 40px !important;   /* Taille réduite du contenu de la carte */
    height: 60px !important;   /* Taille réduite du contenu de la carte */
}
